<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="moimList">
    <li data-no="">
        <div class="visual">
            <div class="type">
                <span class="badge"></span>
            </div>
            <div class="thumbnail">
                <img src="" alt="">
            </div>
        </div>
        <div class="content">
            <div class="etc">
                <span class="category"></span>
                <div class="heart">
                    <i class="bi bi-heart"></i>
                    <span></span>
                </div>
            </div>
            <div class="subject"></div>
            <div class="explanation"></div>
            <div class="language">
                <ul class="languageList"></ul>
            </div>
        </div>
        <div class="headcount">
            <div class="headcountToggle">
                <div class="toggleName">
                    <span></span>
                    <div class="personnel">
                        <span></span> / <span></span>
                    </div>
                </div>
                <div class="toggleIcon">
                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>
            <div class="headcountList">
                <ul>
                    <li>
                        <p class="positionDetail"></p>
                        <div class="personnel">
                            <span></span> / <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</th:block>

</html>