<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="moimList">
    <li data-no="">
        <div class="visual">
            <div class="category">
                <span class="badge badge-size-sm badge-category"></span>
            </div>
            <div class="thumbnail">
                <img src="" alt="">
            </div>
        </div>
        <div class="content">
            <div class="etc">
                <div class="type">
                    <span class="badge badge-size-sm"></span>
                </div>
                <div class="like">
                    <i class="bi bi-heart"></i>
                    <span></span>
                </div>
            </div>
            <div class="subject"></div>
            <div class="explanation"></div>
            <div class="language">
                <ul class="languageList">
                    <li></li>
                </ul>
            </div>
            <div class="headcount">
                <div class="headcountToggle">
                    <div class="toggleName">
                        <span></span>
                        <div class="personnel">
                            <span></span> / <span></span>
                        </div>
                    </div>
                    <div class="toggleIcon">
                        <i class="bi bi-chevron-down"></i>
                    </div>
                </div>
                <div class="headcountList">
                    <ul>
                        <li>
                            <p class="positionDetail"></p>
                            <div class="personnel">
                                <span></span> / <span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</th:block>

</html>