<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="/css/customSelect2.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <style>
        .userImg { padding-bottom: 30px; }
        .userImg .wrap { position: relative; width: 200px; height: 200px; margin: 0 auto; }
        .userImg .wrap input[type='file'] { display: none; }
        .userImg .wrap #profileImgBtn { width: 100%; height: 100%; border-radius: 20px; overflow: hidden; }
        .userImg .wrap #profileImgBtn img { width: 100%; height: 100%; object-fit: cover; }
        .userImg .wrap i { position: absolute; bottom: 15px; right: 15px; display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; background: #fff; box-shadow: 1px 1px 5px #888; border-radius: 100%; font-size: 16px; color: #888; cursor: pointer; }

        textarea[name='introduce'] { width: 100%; height: 100px; }
        .col { display: flex; justify-content: flex-start; gap: 1.3333%; }

        .category {}
        .category input[type='checkbox'] { display: none; }
        .category label { border: 1px solid #343A47; border-radius: 20px; padding: 10px 20px; margin-right: 5px; margin-bottom: 10px; cursor: pointer; }
        .category input[type='checkbox']:checked + label { background: #343A47; }

        .portfolio {}
        .portfolio .portfolioWrap { display: flex; }
        .portfolio .portfolioWrap.add input[type='text'] { width: calc(100% - 90px) !important; margin-right: auto; }
        .portfolio .portfolioWrap.add button { width: 80px; }
    </style>
</th:block>

<th:block layout:fragment="js">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $.fn.select2.defaults.set("minimumResultsForSearch", -1);
        $.fn.select2.defaults.set("width", '24%');

        let positionSelect, positionDetailSelect, levelSelect, careerSelect;
        let onlineSelect, areaSelect, languageSelect;
        let profileImgFileInfo;

        $(()=>{
            positionSelect = $("select[name='position']").select2();
            positionDetailSelect = $("select[name='positionDetail']").select2();
            levelSelect = $("select[name='level']").select2();
            careerSelect = $("select[name='career']").select2();
            onlineSelect = $("select[name='online']").select2();
            areaSelect = $("select[name='preferArea']").select2();
            languageSelect = $("select[name='language']").select2({
                width: '100%',
                tags: true,
                placeholder: "사용하는 기술/언어를 입력해주세요.",
                minimumResultsForSearch: 0
            });

            $("input[name='profileImg']").on("click change", profileImgUploadEvent);
        });

        // 이미지 업로드
        const profileImgUploadTrigger = () => {
            $("input[name='profileImg']").click();
        }
        const profileImgUploadEvent = e => {
            if( e.type==="click" ) {
                profileImgFileInfo = e.target.files[0];
            } else {
                let target = $("#profileImgBtn");

                if( e.target.files.length>0 ) {
                    let file = e.target.files[0];

                    if( file!==profileImgFileInfo ) {
                        let reader = new FileReader();

                        reader.onload = e => {
                            let imgElement = $("<img />");
                            imgElement.attr("src", e.target.result);

                            target.html("");
                            target.append(imgElement);
                        }

                        reader.readAsDataURL(file);
                    }
                } else {
                    $(e.currentTarget).prop("files", profileImgFileInfo);
                }
            }
        }

        // 포트폴리오 추가 및 제거
        const portfolioAddEvent = () => {
            let target = $(".portfolio");

            target.append("123213");
        }
        const portfolioDropEvent = () => {

        }
    </script>
</th:block>

<th:block layout:fragment="container">
    <section class="pageBanner">
        <img src="/images/memberBanner.png" alt="">
    </section>

    <main id="main">
        <div class="container">
            <th:block th:replace="fragment/mypage/mypageTab :: mypageTab(tab='user')"></th:block>

            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="no">

                <section class="userImg">
                    <div class="wrap">
                        <input type="file" name="profileImg">
                        <button type="button" id="profileImgBtn" onclick="profileImgUploadTrigger();">
                            <img th:if="${data.profileImg==null}" src="https://letspl.me/assets/images/prof-no-img.png" alt="">
                            <img th:unless="${data.profileImg==null}" th:src="'/display?filename='+${data.profileImg}" alt="">
                        </button>
                        <i class="bi bi-camera" onclick="profileImgUploadTrigger();"></i>
                    </div>
                </section>

                <section class="mypageContents">
                    <div class="title">
                        <p>기본 정보</p>
                    </div>
                    <div class="wrap">
                        <ul class="mypageItem">
                            <li>
                                <div class="name">
                                    <p>이메일</p>
                                </div>
                                <div class="item">
                                    <input type="text" name="email" th:value="${data.email}" disabled>
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <p>닉네임</p>
                                </div>
                                <div class="item">
                                    <input type="text" name="nickname" th:value="${data.nickname}" placeholder="닉네임을 입력해주세요.">
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <p>소개</p>
                                </div>
                                <div class="item">
                                    <textarea name="introduce" placeholder="자기소개를 입력해주세요.">[[${data.introduce}]]</textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="mypageContents">
                    <div class="title">
                        <p>추가 정보</p>
                    </div>
                    <div class="wrap">
                        <ul class="mypageItem">
                            <li>
                                <div class="name">
                                    <p>직무/능력치</p>
                                </div>
                                <div class="item col">
                                    <select name="position">
                                        <option value="">대분류 선택</option>
                                        <option th:each="position: ${positionList}" th:value="${position.no}" th:selected="${position.no==data.position}">[[${position.name}]]</option>
                                    </select>
                                    <select name="positionDetail">
                                        <option value="">중분류 선택</option>
                                    </select>
                                    <select name="level">
                                        <option value="">레벨 선택</option>
                                        <option th:each="dex : ${#numbers.sequence(1, 5)}" th:value="${dex}" th:selected="${dex==data.level}">[[${T(me.haeseok.sts.util.LevelMapper).getLevelText(dex)}]]</option>
                                    </select>
                                    <select name="career">
                                        <option value="">경력 선택</option>
                                        <option th:each="dex : ${#numbers.sequence(1, 4)}" th:value="${dex}" th:selected="${dex==data.career}">[[${T(me.haeseok.sts.util.CareerMapper).getCareerText(dex)}]]</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <p>선호 지역 설정</p>
                                </div>
                                <div class="item col">
                                    <select name="online">
                                        <option value="">온/오프라인 선택</option>

                                        <option th:each="online: ${onlineList}" th:value="${online.no}" th:selected="${online.no==data.online}">[[${online.name}]]</option>
                                    </select>
                                    <select name="preferArea">
                                        <option value="">선호지역 선택</option>
                                        <option th:each="dex: ${#numbers.sequence(1, 20)}" th:value="${dex}" th:selected="${dex==data.preferArea}">[[${T(me.haeseok.sts.util.AreaMapper).getAreaText(dex)}]]</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <p>관심분야</p>
                                </div>
                                <div class="item category">
                                    <th:block th:each="category: ${categoryList}">
                                        <input type="checkbox" name="category" th:id="'category_'+${category.no}" th:value="${category.no}" th:checked="${#lists.contains(data.category, category.no)}">
                                        <label th:for="'category_'+${category.no}">[[${category.name}]]</label>
                                    </th:block>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="mypageContents">
                    <div class="title">
                        <p>외부 사이트 연동</p>
                    </div>
                    <div class="wrap">
                        <ul class="mypageItem">
                            <li>
                                <div class="name">
                                    <p>깃허브</p>
                                </div>
                                <div class="item">
                                    <input type="text" name="gitLink" placeholder="깃허브 주소를 입력해주세요.">
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <p>블로그</p>
                                </div>
                                <div class="item">
                                    <input type="text" name="blogLink" placeholder="블로그 주소를 입력해주세요.">
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="mypageContents">
                    <div class="title">
                        <p>기술/언어 및 포트폴리오</p>
                    </div>
                    <div class="wrap">
                        <ul class="mypageItem">
                            <li>
                                <div class="name">
                                    <p>사용가능한 기술/언어</p>
                                </div>
                                <div class="item">
                                    <select name="language" multiple></select>
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <p>포트폴리오 링크</p>
                                </div>
                                <div class="item portfolio">
                                    <div class="portfolioWrap add">
                                        <input type="text" name="portfolio" placeholder="포트폴리오 URL 을 입력해주세요.">
                                        <button type="button" class="btn btn-light" onclick="portfolioAddEvent();">추가</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <div class="formButton">
                    <button type="submit" class="btn btn-main">업데이트</button>
                </div>
            </form>
        </div>
    </main>
</th:block>

</html>