<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/images/sts_logo.png" alt="">
                </a>
                <div class="version">
                    <span class="badge text-bg-success">BETA</span>
                </div>
            </div>
            <div class="gnb">
                <ul>
                    <li><a href="/moim/">모임찾기</a></li>
                    <li><a href="#">팀원찾기</a></li>
                    <li><a href="#">커뮤니티</a></li>
                </ul>
            </div>
            <div class="unb">
                <ul th:if="${session.MEMBEREMAIL == null}">
                    <li><a href="/register">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>
                </ul>
                <ul th:unless="${session.MEMBEREMAIL == null}">
                    <li><a href="/">마이페이지</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </header>
</th:block>
</html>