@charset "UTF-8";
/*
 * =======================================================
 *  Main CSS
 * =======================================================
*/
/*
 * -------------------------------------------------------
 *  공통
 * -------------------------------------------------------
*/
body { background: #111827; }
.container { width: 1440px; max-width: 1440px; }

input[type='text'],
input[type='password'] { padding: 5px 10px; background: #1D2432; border: 1px solid #343A47; border-radius: 5px; color: #eee; }
input[type='text']::placeholder,
input[type='password']::placeholder { color: #888; }
input[type='text']:focus,
input[type='password']:focus { border: 2px solid #6366F1; }

/* # 버튼 색상 */
.btn-light { background: #e4e4e4; color: #111827; }

.btn-main { background: #6366F1; color: #fff; }
.btn-main:hover,
.btn-main:focus { background: #5D61F1; }
.btn-main:active { background: #575CF1 !important; border: 1px solid #575CF1 !important; }

.btn-active { background: #FF7745; color: #fff; }
.btn-active:hover,
.btn-active:focus { background: #FF6E39; }
.btn-active:active { background: #FF672F !important; border: 1px solid #FF672F !important; }

/* # 벳지 색상 */
.badge { font-weight: 400; font-size: 14px; }

.badge.badge-size-sm { font-size: 12px; }
.badge.badge-size-lg { font-size: 16px; }

.badge.badge-black_opacity { background: rgba(0, 0, 0, .8); }
.badge.badge-white_opacity { background: rgba(255, 255, 255, .8); color: #333; }
.badge.badge-main { background: #6366F1; }
.badge.badge-active { background: #FF7745; }

/*
 * -------------------------------------------------------
 *  Title
 * -------------------------------------------------------
*/
.mainTitle { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.mainTitle .subject {}
.mainTitle .subject p { margin-bottom: 5px; font-weight: 600; font-size: 20px; }
.mainTitle .subject p.desc { font-weight: 300; font-size: 14px; color: #aaa; }

.mainTitle .etc .more { font-size: 14px; color: #aaa; }

/*
 * -------------------------------------------------------
 *  Header
 * -------------------------------------------------------
*/
#header { position: relative; display: flex; align-items: center; width: 100%; height: 100px; min-width: 1600px; }
#header .container { display: flex; justify-content: space-between; align-items: center; }

#header .container .logo { position: relative; z-index: 2; display: flex; align-items: center; }
#header .container .logo .version { margin-left: 10px; }
#header .container .logo .version span { font-size: 11px; }

#header .container .gnb { position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center; width: 100%; height: 100px; }
#header .container .gnb ul { display: flex; }
#header .container .gnb ul li { width: 140px; }
#header .container .gnb ul li a { font-size: 16px; font-weight: 600; color: #eee; }

#header .container .unb { position: relative; z-index: 2; }
#header .container .unb ul { display: flex; }
#header .container .unb ul li { padding: 0 10px; }
#header .container .unb ul li a { font-size: 14px; font-weight: 600; color: #aaa; }
#header .container .unb ul li.active a { color: #FF7F50; }

/*
 * -------------------------------------------------------
 *  Container
 * -------------------------------------------------------
*/
.pageBanner { width: 100%; height: 150px; }
.pageBanner img { width: 100%; height: 100%; object-fit: cover; }

#main { padding-bottom: 100px; }
#main .container {}
#main .container .wrapper { margin-top: 50px; padding: 10px 0; }
