<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/moimList.css">
    <link rel="stylesheet" href="/css/memberList.css">
    <style>
        .banner {}
        .banner .swiper-wrapper {}
        .banner .swiper-wrapper .swiper-slide { width: 100%; height: 400px; }
        .banner .swiper-wrapper .swiper-slide img { width: 100%; height: 100%; object-fit: cover; }
    </style>
</th:block>

<th:block layout:fragment="js">
    <script src="/js/moimList.js"></script>
    <script src="/js/memberList.js"></script>
    <script>
        $(() => {
            // 인기모임 가져오기
            getMoimListData({
                "pageRequest.page": 1,
                "pageRequest.scale": 12,
                sortField: "hits",
                sortType: "desc",
                status: ["W"]
            });

            // 새로운 팀원 가져오기
            getMemberListData({
                "pageRequest.page": 1,
                "pageRequest.scale": 8,
                sortField: "regdate",
                sortType: "desc"
            });

        });
    </script>
</th:block>

<th:block layout:fragment="container">
    <section class="banner">
        <div class="container">
            <div class="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/banner01.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="container">
            <section class="moim">
                <div class="mainTitle">
                    <div class="subject">
                        <p>인기 모임</p>
                        <p class="desc">현재 가장 인기있는 모임을 만나보세요!</p>
                    </div>
                    <div class="etc">
                        <a href="/moim/" class="more">모임 전체보기</a>
                    </div>
                </div>
                <div class="content">
                    <ul class="moimList" data-type="default"></ul>
                </div>
            </section>

            <section class="member">
                <div class="mainTitle">
                    <div class="subject">
                        <p>새로운 팀원</p>
                        <p class="desc">새롭게 합류한 팀원들을 알아보세요!</p>
                    </div>
                    <div class="etc">
                        <a href="/member/" class="more">팀원 전체보기</a>
                    </div>
                </div>
                <div class="content">
                    <ul class="memberList"></ul>
                </div>
            </section>
        </div>
    </main>

    <template id="moimListTemplate">
        <th:block th:replace="fragment/moim/moimList :: moimList"></th:block>
    </template>
    <template id="memberListTemplate">
        <th:block th:replace="fragment/member/memberList :: memberList"></th:block>
    </template>
</th:block>
</html>